{% extends 'admin/base.html.twig' %}

{% block title %}#{{ user.id }} {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
    <section class="adminusers container listing">

        <a href="{{ path('adminusers') }}" class="adminback btn btn-primary"><i class="fas fa-arrow-left"></i> Retour à la liste des clients</a>

        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}" style="margin: 15px 0; width: 98%;">
                {% for message in messages %}
                    {{ message | raw }}
                {% endfor %}
            </div>
        {% endfor %}

        <h2>#{{ user.id }} {{ user.firstName }} {{ user.lastName }}</h2>

        <div>
            {% set splitArray = user.phoneNumber|split('', 2) %}
            {% set phone = splitArray|join('.') %}

            <p class="flex"><i class="fas fa-envelope" style="margin-right: 5px;"></i> {{ user.email }} <a href="{{ path('adminuser_edit', {'id': user.id}) }}" class="btn btn-primary" style="margin-left: 10px;">Modifier</a></p>
            <p class="flex"><i class="fas fa-home" style="margin-right: 5px;"></i> {{ user.address }}, {{ user.zipCode }} {{ user.city }}</p>
            {% if user.phoneNumber %}
                <p class="flex"><i class="fas fa-phone fa-rotate-90" style="margin-right: 5px;"></i> <a href="tel:{{ user.phoneNumber }}">{{ phone }}</a></p>
            {% endif %}
            </div>

        <div class="adminusers__orders">
            {% if user.customerOrders | length == 0 %}
                <h3>Aucune commande</h3>  
            {% else %}
                <h3>Historique des commandes ({{ user.customerOrders | length }})</h3>
                {% for order in user.customerOrders %}
                    {% if order.status.id == 1 %}
                        {% set status = 'warning' %}
                    {% elseif order.status.id == 2 %}
                        {% set status = 'info' %}
                    {% elseif order.status.id == 3 %}
                        {% set status = 'great' %}
                    {% elseif order.status.id == 4 %}
                        {% set status = 'success' %}
                    {% elseif order.status.id == 5 or order.status.id == 6 %}
                        {% set status = 'danger' %}
                    {% endif %}

                    <div class="adminusers__orders_order">
                        <p><a href="{{ path('adminorder', {'id': order.id}) }}"><i class="fas fa-caret-right"></i> Commande #{{ order.id }}</a> <span class="badge badge-{{ status }}">{{ order.status.label }}</span></p>
                        <p class="adminusers__orders_order-date">Le {{ order.orderDate|date("d/m/Y") }} à {{ order.orderDate|date("H:i:s") }}</p>
                        <p class="adminusers__orders_order-details">{{ order.items | length }} produits — Total : {{ order.totalPrice | number_format(2, ',', ' ')}} &euro;</p>
                    </div>
                {% endfor %}
            {% endif %}
            
            
        </div>
       
    </section>
{% endblock %}
