{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe {% endblock %}

{% block body %}

<section class="container account">
    <a href="{{ path('accountpage') }}" class="btn btn-primary adminback "><i class="fas fa-arrow-left"></i> Retour aux informations</a>

    <h2>Modifier le mot de passe</h2>
    
    <form method="post" class="form">
        <div class="form__group">
            <label>Ancien mot de passe</label>
                        
            {% if form.old_password.vars.errors|length %}
                <div class="invalid">
                        {{ form_errors(form.old_password) }}
                    <i class="fas fa-times"></i>
                </div>
            {% endif %}
        
            {{ form_widget(form.old_password) }}
        </div>

        <div class="form__group">
            <label>Nouveau mot de passe</label>
                
            {% if form.new_password.vars.errors|length %}
                <div class="invalid">
                    {{ form_errors(form.new_password) }}
                    <i class="fas fa-times"></i>
                </div>
            {% endif %}

            {{ form_widget(form.new_password) }}
        </div>

        <div class="form__group">
            <label>Confirmer le mot de passe</label>

            {% if form.confirm_password.vars.errors|length %}
                <div class="invalid">
                    {{ form_errors(form.confirm_password) }}
                    <i class="fas fa-times"></i>
                </div>
            {% endif %}

            {{ form_widget(form.confirm_password) }}
        </div>

        <div class="form__group">
            <input type="submit" value="Enregistrer">
        </div>

        {{ form_rest(form) }}

    </form>

</section>


{% endblock %}