{% extends 'base.html.twig' %}

{% block title %}Commandes #{{ order.id}}{% endblock %}

{% block body %}

    {% set user = app.user %}

    {% if order.status.id == 1 %}
        {% set status = 'warning' %}
    {% elseif order.status.id == 2 %}
        {% set status = 'info' %}
    {% elseif order.status.id == 3 %}
        {% set status = 'great' %}
    {% elseif order.status.id == 4 %}
        {% set status = 'success' %}
    {% elseif order.status.id == 5 or order.status.id == 6 %}
        {% set status = 'danger' %}
    {% endif %}

    <section class="container account">
        <a href="{{ path('accountpage_orders') }}" class="btn btn-primary adminback "><i class="fas fa-arrow-left"></i> Retour aux commandes</a>

        <h2>Commande du {{ order.orderDate | date("d/m/Y") }}</h2>
        <div style="margin: 10px auto; width: max-content;"><span class="badge badge-{{ status }}">{{ order.status.label }}</span></div>
        <br>
        <p style="text-align: center;"><strong>Livraison :</strong> {{ order.address }}</p>

        <div class="cart">
            <table class="cart__table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Prix total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items %}
                        <tr class="cart__table_row">
                            <td class="cart__table_row-image"><img src="{{ item.product.image }}" alt=""></td>
                            <td class="cart__table_row-name"><a href="{{ path("productpage", {'slug' : item.product.slug})}}">{{ item.product.name }}</a></td>
                            <td class="cart__table_row-price">{{ item.product.taxePrice | number_format(2, ',', ' ') }} &euro;</td>
                            <td class="cart__table_row-quantity">{{ item.quantity }}</td>
                            <td class="cart__table_row-total">{{ (item.product.taxePrice * item.quantity) | number_format(2, ',', ' ') }} &euro;</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>

            <div class="flex">
                <p>Sous-total</p>
                <p>{{ subTotal | number_format(2, ',', ' ') }} <span>&euro;</span></p>
            </div>
            <div class="flex">
                <p>Livraison</p>
                <p>3.00 <span>€</span></p>
            </div>
    
            <hr>
    
            <div class="flex">
                <p>Total</p>
                <p>{{ (subTotal + 3) | number_format(2, ',', ' ') }} <span>&euro;</span></p>
            </div>

            <a href="{{ path('pdf', {'id' : order.id}) }}" class="btn btn-primary">Télécharger la facture</a>

            {% if order.status.label == 'En attente' %}
                <button class="btn btn-danger cancel" style="padding: 10px 15px;">
                    <i class="fas fa-times"></i> 
                    Annuler la commande
                </button>

                <div class="popup">
                    <div>
                        <button><i class="fas fa-times"></i></button>
                        <p>Êtes-vous sûr·e de vouloir annuler votre commande ?</p>
                        <small>Vous ne pourrez pas revenir sur cette action.</small>
                        <div class="flex">
                            <button class="btn btn-light">
                                Annuler
                            </button>
                            <a href="{{ path('accountpage_cancel', {'id' : order.id}) }}" class="btn btn-danger">
                                Je veux annuler ma commande
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        
    </section>

{% endblock %}
