{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}

{% set user = app.user %}

    <section class="container account">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}" style="margin-bottom: 15px; margin-top: 35px;">
                {% for message in messages %}
                    {{ message | raw }}
                {% endfor %}
            </div>
        {% endfor %}

        <a href="{{ path('accountpage') }}" class="btn btn-primary adminback "><i class="fas fa-arrow-left"></i> Retour aux informations</a>

        <h2>Vos commandes</h2>

        <div class="account__container_box-orders">

            <table>
                {% for order in orders %}
                    {% if order.status.id == 1 %}
                        {% set status = 'warning' %}
                    {% elseif order.status.id == 2 %}
                        {% set status = 'info' %}
                    {% elseif order.status.id == 3 %}
                        {% set status = 'great' %}
                    {% elseif order.status.id == 4 %}
                        {% set status = 'success' %}
                    {% elseif order.status.id == 5 or order.status.id == 6 %}
                        {% set status = 'danger' %}
                    {% endif %}

                        <tr>
                            <td>Commande du {{ order.orderDate | date("d/m/Y") }}</td>
                            <td>{{ order.items | length }} article{% if order.items | length > 1 %}s{% endif %}</td>
                            <td>{{ (order.totalPrice + order.deliveryPrice) | number_format(2, ',', ' ')}} &euro;</td>
                            <td><span class="badge badge-{{ status }}">{{ order.status.label }}</span></td>
                            <td>
                                <a href="{{ path('accountpage_order', {'id' : order.id}) }}" class="btn btn-primary">
                                    <i class="far fa-eye"></i> 
                                    Détails
                                </a>
                            </td>
                        </tr>

                {% endfor %}
            </table>

        </div>
    </section>

{% endblock %}
