{% extends 'admin/base.html.twig' %}

{% block title %}Modifier le status de la commande #{{ order.id }}{% endblock %}

{% block body %}

    <style>
        select {
            background-color: #fff;
            height: 30px;
            padding: 10px;
            width: 100%;
        }
    </style>

    <section class="container edit">
        <a href="{{ path('adminorders') }}" class="adminback btn btn-primary"><i class="fas fa-arrow-left"></i> Retour à la liste des produits</a>
        
        <h2>Modifier le status de la commande #{{ order.id }}</h2>

        <p class="status-id">{{ order.status.id }}</p>
        
        <form method="post" class="form">
            <div class="form__group">
                {% if form.status.vars.errors|length %}
                    <div class="invalid">
                            { form_errors(form.status) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
            
                {{ form_widget(form.status) }}
            </div>

            <div class="form__group" id="num">
                <label>Numéro de suivi</label>
                {{ form_widget(form.tracking) }}
            </div>

            <div class="form__group" id="exp">
                <label>Date d'expédition</label>
                {{ form_widget(form.delivery) }}
            </div>
    
            <div class="form__group">
                <input type="submit" value="Modifier">
            </div>

            {{ form_rest(form) }}

        </form>

    </section>

{% endblock %}

{% block javascripts %}
    <script>

        // Cache les statuts annulés
        $('#order_status option[value="5"]').hide()
        $('#order_status option[value="6"]').hide()

        // Cache certains statuts selon le statut
        $('.status-id').hide();
        let id = $('.status-id').text();

        if (id == 2) {
            $('#order_status option[value="1"]').hide()
        } else if (id == 3) {
            $('#order_status option[value="1"]').hide()
            $('#order_status option[value="2"]').hide()
        }
        
            
        // Afficher les autres champs selon le statut choisi
        $('#num').hide();
        $('#exp').hide();

        $('#order_status').on('change', function(){
            if($(this).val() == "3") {
                $('#num').show();
                $('#exp').show();
            } else {
                $('#num').hide();
                $('#exp').hide();
            }
        });
    </script>
{% endblock %}