{% extends 'admin/base.html.twig' %}

{% block title %}Commande N°{{ order.id }}{% endblock %}

{% block body %}
    <section class="adminorder container listing">
        {% if order.status.id == 1 %}
            {% set status = 'warning' %}
        {% elseif order.status.id == 2 %}
            {% set status = 'info' %}
        {% elseif order.status.id == 3 %}
            {% set status = 'great' %}
        {% elseif order.status.id == 4 %}
            {% set status = 'success' %}
        {% elseif order.status.id == 5 or order.status.id == 6 %}
            {% set status = 'danger' %}
        {% endif %}


        <a href="{{ path('adminorders') }}" class="adminback btn btn-primary" style="margin-left: auto;"><i class="fas fa-arrow-left"></i> Retour à la liste des commandes</a>
        
        <h2>Commande N°{{ order.id }} <span class="badge badge-{{ status }}">{{ order.status.label }}</span></h2>
        <small>Le {{ order.orderDate | date('d/m/Y', "Europe/Paris")}} à {{ order.orderDate | date('H:i:s', "Europe/Paris")}}</small>

        <p><i class="fas fa-user"></i> {{ order.user.lastName }} {{ order.user.firstName }}</p>
        <p><i class="fas fa-file-invoice-dollar"></i> {{ order.user.address }} {{ order.user.address2 }}, {{ order.user.zipcode }} {{ order.user.city }}</p>
        <p><i class="fas fa-home"></i> {{ order.address }}</p>
        <p><i class="fas fa-euro-sign"></i> {{ order.totalPrice | number_format(2, ',', ' ') }} &euro;</p>
        <p><i class="fas fa-truck"></i> {{ order.deliveryPrice | number_format(2, ',', ' ') }} &euro;</p>
        {% if order.status.id == 3 or order.status.id == 4 %}
        <p>Expédiée le {{ order.deliveryDate | date('d/m/Y') }} – Suivi n°{{ order.trackingNumber }}</p>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Référence</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}
                    <tr>
                        <td>{{ item.product.reference }}</td>
                        <td><img src="{ absolute_url(path('homepage')) }}images/products/{{ item.product.image }}" alt=""></td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ (item.product.taxePrice * item.quantity) | number_format(2, ',', ' ')}} &euro;</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('pdf', {'id': order.id}) }}" class="btn btn-primary" style="margin: 20px auto 0;"><i class="fas fa-file-eye"></i> Télécharger la facture</a>
        {% if order.status.id == 1 or order.status.id == 2%}
            <button class="btn btn-danger cancel" style="padding: 10px 15px; margin: 20px auto 0;">
                <i class="fas fa-times"></i> 
                Annuler la commande
            </button>

            <div class="popup">
                <div>
                    <button><i class="fas fa-times"></i></button>
                    <p>Êtes-vous sûr·e de vouloir annuler votre commande ?</p>
                    <small>Vous ne pourrez pas revenir sur cette action.</small>
                    <div class="flex">
                        <button class="btn btn-light">
                            Annuler
                        </button>
                        <a href="{{ path('adminorder_cancel', {'id' : order.id}) }}" class="btn btn-danger">
                            Je veux annuler la commande
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
