{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'adresse{% endblock %}

{% block body %}

    <section class="admininfos container edit">

        <a href="{{ path('admininformations') }}" class="adminback btn btn-primary"><i class="fas fa-arrow-left"></i> Retour aux informations</a>

        <h2>Modifier l'adresse</h2>

        <form method="post" class="form">
            <div class="form__group">
                <label>Adresse</label> 
                {% if form.address.vars.errors|length %}
                        <div class="invalid">
                            { form_errors(form.address) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                
                {{ form_widget(form.address) }}
            </div>

            <div class="form__group">
                <label>Code postal</label> 
                {% if form.zip_code.vars.errors|length %}
                        <div class="invalid">
                            { form_errors(form.zip_code) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                
                {{ form_widget(form.zip_code) }}
            </div>

            <div class="form__group">
                <label>Ville</label> 
                {% if form.city.vars.errors|length %}
                        <div class="invalid">
                            { form_errors(form.city) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                
                {{ form_widget(form.city) }}
            </div>
        
            <div class="form__group">
                <input type="submit" value="Valider">
            </div>
    
            {{ form_rest(form) }}
    
        </form>

    </section>

{% endblock %}
