{% extends 'admin/base.html.twig' %}

{% block title %}Modifier la section "{{ about.name }}"{% endblock %}

{% block body %}

    <section class="admininfos container edit">

        <a href="{{ path('adminabout') }}" class="adminback btn btn-primary"><i class="fas fa-arrow-left"></i> Retour aux sections "à propos"</a>

        <h2>Modifier la section "{{ about.name }}"</h2>

        <form method="post" class="form">
            <div class="form__group">
                           
                    {{ form_label(form.name) }}
                {% if form.name.vars.errors|length %}
                        <div class="invalid">
                            { form_errors(form.name) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                
                {{ form_widget(form.name) }}
            </div>

            <div class="form__group">
                           
                    {{ form_label(form.content) }}
                    {% if form.content.vars.errors|length %}
                            <div class="invalid">
                                { form_errors(form.content) }}
                            <i class="fas fa-times"></i>
                        </div>
                    {% endif %}
                    
                    {{ form_widget(form.content, { 'id': 'editor'}) }}
                </div>
        
            <div class="form__group">
                <input type="submit" value="Modifier">
            </div>
    
            {{ form_rest(form) }}
    
        </form>

    </section>

{% endblock %}
