{% extends 'admin/base.html.twig' %}

{% block title %}Facturation & Devis{% endblock %}

{% form_theme form 'admin/invoice/_collection.html.twig' %}

{% block body %}

    <section class="admininvoice container">

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Invoice')" id="defaultOpen">Facture</button>
            <button class="tablinks" onclick="openCity(event, 'Quote')">Devis</button>
        </div>

        <div id="Invoice" class="tabcontent">

            <form method="post" class="form">

                <div class="customer-infos">
                    <h3>Informations du client</h3>

                    <div class="form__group">
                        {{ form_label(form.firstName) }}
                        {% if form.firstName.vars.errors|length %}
                            <div class="invalid">
                                    {{ form_errors(form.firstName) }}
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                
                        {{ form_widget(form.firstName) }}
                    </div>

                    <div class="form__group">
                        {{ form_label(form.lastName) }}
                        {% if form.lastName.vars.errors|length %}
                            <div class="invalid">
                                    {{ form_errors(form.lastName) }}
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                
                        {{ form_widget(form.lastName) }}
                    </div>

                    <div class="form__group">
                        {{ form_label(form.email) }}
                        {% if form.email.vars.errors|length %}
                            <div class="invalid">
                                    {{ form_errors(form.email) }}
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="form__group">
                        {{ form_label(form.phone) }}
                        {% if form.phone.vars.errors|length %}
                            <div class="invalid">
                                    {{ form_errors(form.phone) }}
                                <i class="fas fa-times"></i>
                            </div>
                        {% endif %}
                
                        {{ form_widget(form.phone) }}
                    </div>
                </div>

                    {{ form_row(form.items) }}

                <div class="form__group">
                    <input type="submit" value="Créer la facture">
                </div>

           
                {{ form_end(form) }}
        </div>
          
          <div id="Quote" class="tabcontent">
            <h2>Devis</h2>
          </div>

    </section>
{% endblock %}

{% block javascripts %}

<script src="/js/invoice.js"></script>

{% endblock %}