{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <section class="dashboard container">
        <h2>Dashboard</h2>

        <article class="dashboard__orders flex wrap around" style="margin-top: 50px;">
            <div class="box flex">
                <h4>Commandes en attente</h4>
                <p>{{ waiting | length }}</p>

                <i class="far fa-clock"></i>
            </div>

            <div class=" box flex">
                <h4>Commandes envoyées</h4>
                <p>{{ sent | length }}</p>

                <i class="far fa-envelope"></i>
            </div>

            <div class=" box flex">
                <h4>Commandes terminées</h4>
                <p>{{ finished | length }}</p>

                <i class="far fa-check-square"></i>
            </div>
        </article>

        <article class="dashboard__numbers flex wrap around" style="margin-top: 50px;">
                <div class=" box flex">
                    <h4>Total de clients</h4>
                    <p>{{ (users | length) - 1}}</p>

                    <i class="fas fa-users"></i>
                </div>

                <div class=" box flex">
                    <h4>Total de commandes</h4>
                    <p>{{ orders | length }}</p>
    
                    <i class="fas fa-clipboard-list"></i>
                </div>

                <div class="box flex">
                        <h4>Total de produits</h4>
                        <p>{{ products | length }}</p>
        
                        <i class="fas fa-motorcycle"></i>
                    </div>
            </article>
    </section>

{% endblock %}
