{% extends 'admin/base.html.twig' %}

{% block title %}Modifier {{ product.name }}{% endblock %}

{% block body %}

    <section class="container edit">
        <a href="{{ path('adminproducts') }}" class="btn btn-primary adminback "><i class="fas fa-arrow-left"></i> Retour à la liste des produits</a>
        <h2>Modification d'un produit</h2>
        
        <form method="post" class="form">
            <div class="form__group">
                {{ form_label(form.image) }}
                            
                {% if form.image.vars.errors|length %}
                    <div class="invalid">
                            { form_errors(form.image) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
            
                {{ form_widget(form.image) }}
            </div>

            <div class="form__group">
                {{ form_label(form.name) }}
                    
                {% if form.name.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.name) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.name) }}
            </div>
    
            <div class="form__group">
                {{ form_label(form.reference) }}
    
                {% if form.reference.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.reference) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.reference) }}
            </div>
    
            <div class="form__group">
                {{ form_label(form.taxePrice) }}
    
                {% if form.taxePrice.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.taxePrice) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.taxePrice) }}
            </div>
    
            <div class="form__group">
                {{ form_label(form.description) }}
    
                {% if form.description.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.description) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.description) }}
            </div>
    
            <div class="form__group">
                {{ form_label(form.height) }}
    
                {% if form.height.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.height) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                    
                {{ form_widget(form.height) }}
            </div>

            <div class="form__group">
                {{ form_label(form.width) }}
        
                {% if form.width.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.width) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                        
                {{ form_widget(form.width) }}
            </div>

            <div class="form__group">
                {{ form_label(form.weight) }}
    
                {% if form.weight.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.weight) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                    
                {{ form_widget(form.weight) }}
            </div>

            <div class="form__group">
                {{ form_label(form.subcategory) }}
        
                {% if form.subcategory.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.subcategory) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                        
                {{ form_widget(form.subcategory) }}
            </div>
    
            <div class="form__group">
                <input type="submit" value="Enregistrer la modification">
            </div>

            {{ form_rest(form) }}

        </form>

    </section>

{% endblock %}
