{% extends 'admin/base.html.twig' %}

{% block title %}Modifier {{ product.name }}{% endblock %}

{% block body %}

    <section class="container edit">
        <a href="{{ path('adminproducts') }}" class="btn btn-primary adminback "><i class="fas fa-arrow-left"></i> Retour à la liste des produits</a>
        <h2>Modification d'un produit</h2>
        
        <form method="post" class="form select2form" enctype="multipart/form-data">
            <div class="form__group">
                {{ form_label(form.imageFile) }}
                            
                {% if form.imageFile.vars.errors|length %}
                    <div class="invalid">
                            {{ form_errors(form.imageFile) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
            
                {{ form_widget(form.imageFile) }}

                {% if product.image %}
                    <img src="../../../images/products/{{ product.image }}" alt="{{ product.name }}" style="width: 100px; height: auto; margin-top: 10px;">
                {% endif %}
            </div>

            <div class="form__group">
                {{ form_label(form.name) }}
                    
                {% if form.name.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.name) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.name) }}
            </div>
    
            <div class="form__group">
                <label>Référence <small>(Code produit)</small></label>
    
                {% if form.reference.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.reference) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.reference) }}
            </div>
    
            <div class="form__group" style="font-size: 0;">
                <label>Prix <small>(T.T.C.)</small></label>
    
                {% if form.taxePrice.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.taxePrice) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.taxePrice) }}
                <p class="unit">&euro;</p>
            </div>
    
            <div class="form__group">
                {{ form_label(form.description) }}
    
                {% if form.description.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.description) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
    
                {{ form_widget(form.description) }}
            </div>
    
            <div class="form__group">
                <label>Hauteur <small>(Optionnel)</small></label>
    
                {% if form.height.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.height) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                    
                {{ form_widget(form.height) }}
                <p class="unit">cm</p>
            </div>

            <div class="form__group">
                <label>Largeur <small>(Optionnel)</small></label>
        
                {% if form.width.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.width) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                        
                {{ form_widget(form.width) }}
                <p class="unit">cm</p>
            </div>

            <div class="form__group">
                <label>Poids <small>(Optionnel)</small></label>
    
                {% if form.weight.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.weight) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                    
                {{ form_widget(form.weight) }}
                <p class="unit">g</p>
                
            </div>

            <div class="form__group">
                <label>Sous-catégorie</label>
        
                {% if form.subcategory.vars.errors|length %}
                    <div class="invalid">
                        {{ form_errors(form.subcategory) }}
                        <i class="fas fa-times"></i>
                    </div>
                {% endif %}
                        
                {{ form_widget(form.subcategory) }}
            </div>
    
            <div class="form__group">
                <input type="submit" value="Enregistrer la modification">
            </div>

            {{ form_rest(form) }}

        </form>

    </section>

{% endblock %}
